form label {
    width: 7em;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}
form input {
    width: 20em;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}
div button {
    width: 20em;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: auto;
    background-color: aliceblue;
}
form textarea {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: aliceblue;
    background-color: aliceblue;
}
.bottomBorder {
    margin: 3px;
    padding: 1em;
    border-bottom: 2px solid black;
}

.topBorder {
    border-top: 1px solid black;
    padding-top: 3px;
}

.oneFile {
    border-top: 1px solid black;
    margin: 5px;
}

.oneFile a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
}

.oneFile a:visited {
    color: #437a16;
}

.oneFile a:focus {
    border-bottom: 0;
    background: #bae498;
}

.oneFile a:hover {
    border-bottom: 0;
    background: #cdfeaa;
}

.oneFile a:active {
    background: #265301;
    color: #cdfeaa;
}
